__pycache__/
.DS_Store
.idea/
dataset*
out*
bond/bond_debug_expanded/expanded_features_results.csv
hyperopt_results*
bond_train_test_split*
bond_unified_refined_analysis*
tbr*
synt_dataset*
train_test_split*
filtered_predictions_stats.json*
filtered_predictions.json*
best_params_trial49.json*
evaluation_results.json*
best_parameters.json*
hyperopt_multimetric_results*
production_valid_20251119_170800*